<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <mat-icon>plumbing</mat-icon>
      <h1 class="glass-title" data-text="TOOLS">TOOLS</h1>
    </div>

    <nav class="header__nav">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a></li>
        <li><a routerLink="/sobre" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sobre</a></li>
        <li><a routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>