:host {
  display: inline-block;

  opacity: 0;
  transform: translateY(8px) scale(0.95);

  animation: tagEnter 0.25s ease forwards;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tag{
    background: #db8ff1;
    color: #080808;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-flex;
    gap: 6px;
    align-items: center;
    white-space: nowrap;
}
.tag button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.tag:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.input-edicao {
    background: transparent;
    border: none;
    outline: none;

    font-size: 12px;
    font-weight: 500;

    color: #080808;

    width: auto;
    min-width: 10px;
}
.input-edicao:focus {
    border-color: #6a1b9a;
}
.caneta:hover {
    transform: translateY(-1px) scale(1.05);
    color: #f50d05;
}
@keyframes tagEnter {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}