<div class="ferramentas-organizacao">
      @for (item of ferramentas$ | async; track item.id) {
        <div class="lista-ferramentas">
          <span class="texto">{{ item.name }}</span>
          <div class="descrition">
            {{item.description}}
          </div>
          <div class="lado-direito">
            <div class="tags">
              @for (tag of item.tags; track $index; let tagIndex = $index) {
                <app-tag [tag]="tag" (editar)="atualizarTag(item, tagIndex, $event)"></app-tag>
              }
            </div>
            @if(modo === 'editar')
            {
              <button class="remover-item" (click)="deletarItem(item.id)">
              <mat-icon>close</mat-icon>
            </button>
          }
          </div>
        </div>
      }
    </div>