<div class="ferramentas-organizacao">
      @for (item of ferramentas; track $index; let itemIndex = $index) {
        <div class="lista-ferramentas">
          <span class="texto">{{ item.title }}</span>
          <div class="descrition">
            {{item.description}}
          </div>
          <div class="lado-direito">
            <div class="tags">
              @for (tag of item.tags; track $index; let tagIndex = $index) {
                <app-tag [tag]="tag" (editar)="atualizarTag(itemIndex, tagIndex, $event)"></app-tag>
              }
            </div>
            <button class="remover-item" (click)="deletarItem(item.id)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>