.main{
    width: 100%;
    min-height: 100vh;
    background-color: #9b6bb5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 20px;
    padding: 100px 20px 40px
}
.minhalista{
    margin: auto;
    background-color: #fcedf5;
    width: 100%;
    max-width: 1100px;
    min-height: 400px;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 8px 20px 0px rgba(225, 0, 255, 0.336);

}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::ng-deep .titulo app-button button{
    font-size: 18px
}
.titulo h1{
    color: #9b6bb5;
    font-family: 'Bungee', sans-serif;
}
.titulo-esquerda{
    display: flex;
    align-items: center;
    gap: 8px;
}
.titulo mat-icon{
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #9b6bb5;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    min-height: 350px;
}
.vazio mat-icon{
    color: #e0c8e3;
    font-size: 60px;
    width: 60px;
    height: 60px;
}
::ng-deep .btn-roxo button {
    background-color: #9b6bb5 !important;
    color: white !important;
}
.vazio{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e0c8e3;
    width: 100%;
    min-height: 300px;
    gap: 10px;
}
.lista-esquerda{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detalhe-direita{
    background-color: #f2e1ee;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-height: 240px;
}
.detalhe-direita mat-icon{
    color: #be99cc;
    font-size: 50px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
}
.detalhe-direita h3{
    color: #be99cc;
    font-weight: 400;
    opacity: 0.6;
}