$header-bg: linear-gradient(90deg, #9157b3, #b46ddd);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  z-index: 1000;
  background: $header-bg;
  color: #ffffff;
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
