<div class="lista">
    <div class="item">
        <div class="titulo">
            <h3>{{nome}}</h3>
            <div class="icones">
                <mat-icon class="visualizacao">visibility</mat-icon>
                <mat-icon class="edit" (click)="editarLista()">edit</mat-icon>
                <mat-icon class="delete">delete</mat-icon>
            </div>
        </div>
        <div class="data">
            <mat-icon>calendar_today</mat-icon>
            <h4>{{data}}</h4>
        </div>
        <h4 class="quantidade">{{ferramentas}} ferramentas</h4>
    </div>
</div>