<div class="main main-dark">
  <div class="telinha">
    
    <div class="organizacao">
      <input
        type="text"
        id="cadastroferramenta"
        class="molde-form nome-ferramenta"
        placeholder="Nome da ferramenta"
        [(ngModel)]="nome"
      >
      <textarea type="text" id="descricao" class="molde-form molde-form-descricao" placeholder="Descrição" [(ngModel)]="descricao"></textarea>

    
        <input
          type="text"
          id="cadastrotags"
          class="molde-form tag-ferramenta"
          placeholder="Tags (Enter ou vírgula)"
          [(ngModel)]="tagDigitada"
          (keyup)="processarTags($event)"
        >

        <button class="cadastrosalvar" (click)="adicionarFerramenta()">
          Salvar
        </button>
    </div>


    @if (listaTags.length > 0) {
      <div class="tags-preview">
        @for (tag of listaTags; track tag) {
          <span class="tag">#{{ tag }}</span>
        }
      </div>
    }



    <div class="ferramentas-organizacao">
      @for (item of service.getLista(); track $index) {
        <div class="lista-ferramentas">
          <span class="texto">{{ item.nome }}</span>
          <div class="descrition">
            {{item.descricao}}
          </div>
          <div class="lado-direito">
            <div class="tags">
              @for (tag of item.tags; track tag) {
                <span class="tag">#{{ tag }}</span>
              }
            </div>
            <button class="remover-item" (click)="deletarItem($index)">
              X
            </button>
          </div>
        </div>
      }
      @if(botaoVisibilidade){
        <button class="limpar-lista" (click)="excluirLista()">
          Excluir
        </button>
      }
    </div>

  </div>

</div>
